<label class="profileLabel">
 {{placeholder}} 
  <input
    autoComplete="on"
    name="{{inputName}}"
    placeholder="{{placeholder}}"
    type="{{inputType}}"
    class="profileInput"
    required
  />
</label>
