@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;900&display=swap");

:root {
  --text-color-red: rgb(255, 7, 7);
}

html {
  font-size: 20px;
  font-weight: 300;
  font-family: "Inter", "Arial", sans-serif;
  min-height: 100vh;
}
