.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorTitle {
  font-size: 126px;
  font-weight: 500;
  margin: 0 0 35px;
}

.errorSubtitle {
  font-size: 20px;
  margin: 0 0 36px;
}
